# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
profiles.settings.xml
modules.xml
misc.xml
vcs.xml
Flight_Delay_Pred.iml
/inspectionProfiles/profiles_settings.xml
